<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/main.css">
</head>

<body>
    <div class="login-form">
        <form action="" method="post">
            <h2 class="text-center">Manage Sessions</h2>
            <hr>
            <h4 class="text-center">"Remember me" sessions</h4>
            <hr>
            {{ with .AuthTokens }}
                {{ range . }}
                    <b>IP</b>: {{ .IPAddress }}<br>
                    <b>Browser</b>: <small>{{ .UserAgent}}</small><br>
                    <b>Expire</b>: <small>{{ .Expires }}</small>
                    <hr>
                {{ end }}
            {{ end }}
            <input type="hidden" name="csrf-token" value="{{ .CSRFToken }}">
            <hr>
            <hr>
            <h4 class="text-center">All Sessions</h4>
            <hr>
            {{ with .Sessions }}
                {{ range . }}
                    <b>IP</b>: {{ .IPAddress }}<br>
                    <b>Browser</b>: <small>{{ .UserAgent}}</small><br>
                    <b>Expire</b>: <small>{{ .Expires }}</small>
                    <hr>
                {{ end }}
            {{ end }}
            <input type="hidden" name="csrf-token" value="{{ .CSRFToken }}">
            <hr>

            <button type="submit" class="btn btn-danger btn-block">Invalidate all sessions</button>
        </form>
        <p class="text-center"><a href="/">Back</a></p>
        {{ if .Error }}
            <div class="alert alert-danger">
            {{ .Error }}
            </div>
        {{ end }}
    </div>
</body>

</html>
